@charset "UTF-8";
ul, li{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
#manager_top{
	width: 1200px;
	overflow: auto;
}
#manager_top li{
	float: left;
	text-align: center;
	width : 33%;
}
#manager_list li{
	float : left;
	text-align : center;
	width : 33%;
}
#userList li{
	float : left;
	text-align : center;
	width : 50%;
}