<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.seu.app.dao.BoardDAO">
	<select id = "boardList" resultType = "BoardVO">
		select no, subject, userid, hit, date_format(writedate, '%m-%d %h:%i') writedate, 
		(select count(reply_no) from reply_board where reply_board.no = board.no) reply_num
		from board
		where 1 = 1 
		<if test = "searchWord != null">
			and ${searchKey} like '%${searchWord}%'
		</if>
		<if test = "userid != null">
			and board.userid = #{userid}
		</if>
		order by no desc
		limit ${onePageRecord} offset ${offsetPoint}
		
	
	</select>
	<insert id = "boardWriteOk">
		insert into board(subject, content, userid, ip)
		values(#{subject}, #{content}, #{userid}, #{ip})
	</insert>
	<select id = "totalRecord" resultType = "int">
		select count(no) cnt from board
		where 1 = 1
		<if test = 'searchWord != null'>
			and ${searchKey} like '%${searchWord}%'
		</if>
		<if test = 'userid != null'>
			and userid = #{userid}
		</if>
	</select>
	<select id = "getBoard" resultType = "BoardVO" parameterType = "int">
		select no, subject, content, hit, userid, writedate
		from board
		where no = ${param1}
	</select>
	<update id = "hitCount">
		update board set hit = hit + 1 where no = ${param1}
	</update>
	<delete id = "boardDel">
		delete from board where no = ${param1} and userid = #{param2}
	</delete>
	<update id = "boardEditOk" parameterType = "BoardVO">
		update board set subject = #{subject}, content = #{content} 
		where no = ${no} and userid = #{userid}
	</update>
	<delete id = "boardMultiDel">
		delete from board
		<where>
			<foreach item = "item" collection="noList" open = " no in (" separator = "," close = ")">
				${item}
			</foreach>
		</where>
	</delete>
</mapper>