<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seu.app.dao.NewsDAO">
	<select id = "newsList" resultType="NewsVO">
		select no, subject, userid, hit, date_format(writedate, '%m-%d %h:%i') writedate
		from news 
		<if test="searchWord!=null">
			where ${searchKey} like '%${searchWord}%'
		</if>
		order by no desc
		limit ${onePageRecord} offset ${offsetPoint}
	</select>
	<insert id="NewsWriteOk">
		insert into news(subject, content, userid)
		values(#{subject}, #{content}, #{userid})
	</insert>
	<select id="totalRecord" resultType="int">
		select count(no) cnt from news
		<if test='searchWord!=null'>
			where ${searchKey} like '${searchWord}%'
		</if>
	</select>
	<select id="getNews" resultType="NewsVO" parameterType="int">
		select no, subject, content, hit, userid, writedate
		from news
		where no=${param1}
	</select>
	<update id="hitCount">
		update news set hit = hit +1 where no=${param1}
	</update>
	<update id = "newsEditOk" parameterType="NewsVO">
		update news set subject=#{subject}, content=#{content}
	</update>
</mapper>